<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input #email type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input #password type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input #address type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>

    <button (click)="onAddUser(email.value, password.value, address.value, $event)" type="submit" class="btn btn-primary">Add user</button>
  </form>
