<div style="background: url(/assets/images/cover.jpg); background-size: cover; background-repeat: no-repeat; width: 100%; height: 30rem;">
    <div style="color: white;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 7rem;
                width: 100%;
                font-size: 1.5rem;
                font-family: fantasy;
                align-items: flex-end;
                padding: 4rem;">
        <p>Welcome to our cool website</p>
        <p>You can explore your favorite albums in our app</p>
    </div>
</div>
